
<div id="tt" class="easyui-tabs" style="width:100%;">
	<div title="Ngan luong" style="padding:5px;"  iconCls='icon-edit'>
	<table id="dg_nganluong" style="width:100%;"></table>	
			<div id="tbar" style="padding:5px;height:auto">
				    <div style="margin-bottom:5px">
				        <a id="idaccept" class="easyui-linkbutton"  data-options="iconCls:'icon-save',plain:true">Accept</a>
				        <a id="idreject" class="easyui-linkbutton" data-options="iconCls:'icon-undo',plain:true" >Reject</a>
				        <a id="idGetChanges" class="easyui-linkbutton" data-options="iconCls:'icon-search',plain:true" >GetChanges</a>
				    </div>
				</div>
	</div> <!-- end tab1 -->
	
</div>		<!-- end main -->
			  
<!-- tab1 -->
<script type="text/javascript" src="admin/easyui1-5/jquery.easyui.min.js"></script>
<script type="text/javascript" src="admin/js/config/nganluong.js"></script>

