

<div style="float:left;width:30%;padding-left:50px;">
	<form method="post">
		<input type="hidden" value="@propertyid_value" name="propertyid">
        <div style="margin-bottom:5px">
            <input class="easyui-textbox" value="@propertyname_value" name="propertyname" label="Property Name:" labelPosition="top" style="width:100%;">
        </div>
    </form>    
        <div style="text-align:center">
            <a  class="easyui-linkbutton"   iconCls="icon-save"  onclick="save1(this)">Save</a>
            <a  class="easyui-linkbutton"   iconCls="icon-cancel" onclick="cancel1(this)">Cancel</a>
        </div>
</div>


