
<div class="container">
<img src="image/banner1.jpg"/>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- 
  <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
  </ol>Indicators -->

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
  
    
      
         <div class="item">
   <a href="#">
     <img src="image/slide/banner2.jpg" class="img-responsive" alt="#">
		<!--
       <div class="carousel-caption">
                      <h4></h4>
                      <p></p>
      </div>-->
      </a>
    
  
    </div>   
      
      
         <div class="item active">
   <a href="#">
     <img src="image/slide/banner1a.jpg" class="img-responsive" alt="#">
		<!--
       <div class="carousel-caption">
                      <h4></h4>
                      <p></p>
      </div>-->
      </a>
    
  
    </div>   
      
      
         <div class="item">
   <a href="#">
     <img src="image/slide/hung-vuong.jpg" class="img-responsive" alt="gio to hung vuong">
		<!--
       <div class="carousel-caption">
                      <h4></h4>
                      <p></p>
      </div>-->
      </a>
    
  
    </div>   
        
    <!--<div class="item">
      <img src="public/image/ex22.jpg" class="img-responsive" alt="Chania">
       <div class="carousel-caption">
    <h3>Chrysanthemum</h3>
    
    </div>
</div>-->


</div>
  <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                        <span class="icon-prev"></span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" data-slide="next">
                        <span class="icon-next"></span>
                    </a>
</div>
</div>

<script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>