<div class="container">

        <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <ul class="thumbnail-list">
                         
                <li> <a href="#" class="">
                <img src="image/product/IMG_4195.jpg" class=""></a>

                    <h4 class="">Wireless selfie speaker</h4>
                        <div class="product-price">
                         <span class="normal-price">150.000 VNĐ</span>

                        </div>
                       <a href="#" class="btn btn-primary navbar-btn">View more</a>
                </li>
                              
                <li> <a href="#" class="">
                <img src="image/product/IMG_4201.jpg" class=""></a>

                    <h4 class="">Mini speaker</h4>
                        <div class="product-price">
                         <span class="normal-price">120.000 VNĐ</span>

                        </div>
                       <a href="#" class="btn btn-primary navbar-btn">View more</a>
                </li>
                              
                <li> <a href="#" class="">
                <img src="image/product/IMG_4202.jpg" class=""></a>

                    <h4 class="">Game pad</h4>
                        <div class="product-price">
                         <span class="normal-price">120.000 VNĐ</span>

                        </div>
                       <a href="#" class="btn btn-primary navbar-btn">View more</a>
                </li>
                              
                <li> <a href="#" class="">
                <img src="image/product/IMG_4205.jpg" class=""></a>

                    <h4 class="">Color ball speaker</h4>
                        <div class="product-price">
                         <span class="normal-price">230.000 VNĐ</span>

                        </div>
                       <a href="#" class="btn btn-primary navbar-btn">View more</a>
                </li>
                              
                <li> <a href="#" class="">
                <img src="image/product/PMT_6787.jpg" class=""></a>

                    <h4 class="">Coconut item</h4>
                        <div class="product-price">
                         <span class="normal-price">10.000 VNĐ</span>

                        </div>
                       <a href="#" class="btn btn-primary navbar-btn">View more</a>
                </li>
                              
                <li> <a href="#" class="">
                <img src="image/product/PMT_6799.jpg" class=""></a>

                    <h4 class="">Coconut item 2</h4>
                        <div class="product-price">
                         <span class="normal-price">30.000 VNĐ</span>

                        </div>
                       <a href="#" class="btn btn-primary navbar-btn">View more</a>
                </li>
                   
                
        </ul>
    </div>
</div>
</div>