

<div style="float:left;width:50%;padding-left:30px;">
	<form method="post">
		<input type="hidden" value="@locationid_value" name="locationid">
        <div style="margin-bottom:5px">
            <input class="easyui-textbox" value="@locationname_value" required="true" name="locationname" label="Ward Name:" labelPosition="top" style="width:100%;">
        </div>
    </form>    
        <div style="text-align:center">
            <a  class="easyui-linkbutton"   iconCls="icon-save"  onclick="save1(this)">Save</a>
            <a  class="easyui-linkbutton"   iconCls="icon-cancel" onclick="cancel1(this)">Cancel</a>
        </div>
</div>


