

<div style="float:left;width:50%;padding-left:50px;">
	<form method="post">
		<input type="hidden" value="@levelpriceid_value" name="levelpriceid">
        <div style="margin-bottom:5px">
            <input class="easyui-textbox"  data-options="required:true" value="@levelpricename_value" name="levelpricename" label="Name:" labelPosition="top" style="width:100%;">
        </div>
        <div style="margin-bottom:5px">
            <input class="easyui-textbox"  data-options="required:true" value="@levelpricepquery_value" name="levelpricepquery" label="Query" labelPosition="top" style="width:100%;">
        </div>
    </form>    
        <div style="text-align:center">
            <a  class="easyui-linkbutton"   iconCls="icon-save"  onclick="save1(this)">Save</a>
            <a  class="easyui-linkbutton"   iconCls="icon-cancel" onclick="cancel1(this)">Cancel</a>
        </div>
</div>


