<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <welcome-file-list>    
    <welcome-file>/index_template.html</welcome-file>
  </welcome-file-list>
   <servlet>
		<servlet-name>spring</servlet-name>
		<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
		<load-on-startup>1</load-on-startup>
	</servlet>   
	
	<servlet-mapping>
		<servlet-name>spring</servlet-name>
		<url-pattern>/spring/*</url-pattern>
	</servlet-mapping>	
<context-param>
    <param-name>savepath2</param-name>
    <param-value>C:\\path\\to\\</param-value>
</context-param>

<context-param>
    <param-name>saveeditor</param-name>
    <param-value>/upload/editor</param-value>
</context-param>
<context-param>
    <param-name>saveslideimage</param-name>
    <param-value>/upload/slide</param-value>
</context-param>
<context-param>
    <param-name>saveprogramimage</param-name>
    <param-value>/upload/image/program</param-value>
</context-param>
<context-param>
    <param-name>save_image</param-name>
    <param-value>/upload/image</param-value>
</context-param>
<context-param>
    <param-name>save_image_cate</param-name>
    <param-value>/upload/category</param-value>
  </context-param>
  <context-param>
    	<param-name>pathsaveimgckeditor</param-name>
    	<param-value>http://localhost:8080/VivStudy/upload/image/</param-value>
  </context-param>
<context-param>
    <param-name>saveeventimage</param-name>
    <param-value>/upload/event</param-value>
</context-param>	

<context-param>
    <param-name>save_imgbranch</param-name>
    <param-value>/upload/branch</param-value>
</context-param>
<context-param>
    <param-name>save_imgcolor</param-name>
    <param-value>/upload/color</param-value>
</context-param>
<context-param>
    <param-name>save_imgcatgorynews</param-name>
    <param-value>/upload/catgorynews</param-value>
</context-param>
<context-param>
    <param-name>save_imgnews</param-name>
    <param-value>/upload/news</param-value>
</context-param>
<filter>  
    <filter-name>encodingFilter</filter-name>  
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>  
    <init-param>  
       <param-name>encoding</param-name>  
       <param-value>UTF-8</param-value>  
    </init-param>  
    <init-param>  
       <param-name>forceEncoding</param-name>  
       <param-value>true</param-value>  
    </init-param>  
</filter>  
<filter-mapping>  
    <filter-name>encodingFilter</filter-name>  
    <url-pattern>/*</url-pattern>  
</filter-mapping>



<filter>
	<filter-name>Adminfilter</filter-name>
	<filter-class>
		vn.vmall.pkgFilter.adminfilter
	</filter-class>
	<init-param>
		<param-name>avoid-urls</param-name>
		<param-value>/spring/ad/loginController/do_login</param-value>
	</init-param>
	<init-param>
		<param-name>contextpath</param-name>
		<param-value>/Nvmall</param-value>
	</init-param>
	
	<init-param>
		<param-name>Redirect_contextpath</param-name>
		<param-value>/Nvmall</param-value>
	</init-param>
</filter>
<filter-mapping>
	<filter-name>Adminfilter</filter-name>
	<url-pattern>/spring/ad/*</url-pattern>
</filter-mapping>
<!-- <filter> -->
<!--   <filter-name>CorsFilter</filter-name> -->
<!--   <filter-class>org.apache.catalina.filters.CorsFilter</filter-class> -->
<!--   <init-param> -->
<!--     <param-name>cors.allowed.origins</param-name> -->
<!--     <param-value>*</param-value> -->
<!--   </init-param> -->
<!--   <init-param> -->
<!--     <param-name>cors.allowed.methods</param-name> -->
<!--     <param-value>GET,POST,HEAD,OPTIONS,PUT</param-value> -->
<!--   </init-param> -->
<!--   <init-param> -->
<!--     <param-name>cors.allowed.headers</param-name> -->
<!--     <param-value>Content-Type,X-Requested-With,accept,Origin,Access-Control-Request-Method,Access-Control-Request-Headers</param-value> -->
<!--   </init-param> -->
<!--   <init-param> -->
<!--     <param-name>cors.exposed.headers</param-name> -->
<!--     <param-value>Access-Control-Allow-Origin,Access-Control-Allow-Credentials</param-value> -->
<!--   </init-param> -->
<!--   <init-param> -->
<!--     <param-name>cors.support.credentials</param-name> -->
<!--     <param-value>true</param-value> -->
<!--   </init-param> -->
<!--   <init-param> -->
<!--     <param-name>cors.preflight.maxage</param-name> -->
<!--     <param-value>10</param-value> -->
<!--   </init-param> -->
<!-- </filter> -->
<!-- <filter-mapping> -->
<!--   <filter-name>CorsFilter</filter-name> -->
<!--   <url-pattern>/*</url-pattern> -->
<!-- </filter-mapping> -->

</web-app>
