
<div id="tt" class="easyui-tabs" style="width:100%;">
	<div title="Order Manager" style="padding:5px;">
	<table id="iddatagrip" style="width:100%;"></table>	
			<div id="tbar" style="padding:5px;height:auto">
				    <div style="margin-bottom:5px">
				        <a id="btnprocessing"  class="easyui-linkbutton" iconCls="icon-reload" plain="true">Processing</a> 
				        <a id="btndelivered" class="easyui-linkbutton" iconCls="icon-more" plain="true">Delivered</a>
				        <a id="btnfinish" class="easyui-linkbutton" iconCls="icon-ok" plain="true">Finish</a>
				        <a id="btncancel" class="easyui-linkbutton" iconCls="icon-no" plain="true">Cancel</a>
						<!-- <a id="btnsend"  class="easyui-linkbutton" iconCls="icon-redo" plain="true">Send to logistic</a> -->
				    </div>
				    <div>
				       <input id="ss" style="width:350px"></input>
				       <div id="mm" style="width:170px">
						
						</div>
				    </div>
				</div>
	<div id="dialog_s" style="padding:3px" data-selector="">
								<table id="iddatagrip_dialog_s" ></table>
								<div id="tbar_dialog_s" style="padding:5px;height:auto">
								    <div style="margin-bottom:5px">
							        <a id="btnvieworder" class="easyui-linkbutton" iconCls="icon-search" plain="true">View shop</a>
				   					</div>
								</div>
	</div>
	</div>
	
</div>		<!-- end main -->
			  

<script type="text/javascript" src="admin/easyui1-5/jquery.easyui.min.js"></script>
<script type="text/javascript" src="admin/easyui1-5/datagrid-detailview.js"></script>
<script type="text/javascript" src="admin/js/order/main.js"></script>
<script type="text/javascript" src="admin/js/order/exec.js"></script>

<script type="text/javascript">
</script>
